<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <fieldset
            name="basics"
            label="COM_MARATHONMANAGER_CONFIG_BASICS_LABEL"
            description="COM_MARATHONMANAGER_CONFIG_BASICS_DESC"
    >
        <field
                name="debug"
                type="radio"
                layout="joomla.form.field.radio.switcher"
                label="COM_MARATHONMANAGER_CONFIG_DEBUG_LABEL"
                default="0"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
                name="custom_fields_enable"
                type="radio"
                label="JGLOBAL_CUSTOM_FIELDS_ENABLE_LABEL"
                layout="joomla.form.field.radio.switcher"
                default="1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="contact_email" type="email" label="COM_MARATHONMANAGER_CONFIG_CONTACT_EMAIL_LABEL" default="" />
        <field name="registration_contact_email" type="email" label="COM_MARATHONMANAGER_CONFIG_REG_CONTACT_EMAIL_LABEL" default="" />
    </fieldset>
    <fieldset
            name="registrations"
            label="COM_MARATHONMANAGER_CONFIG_REGISTRATIONS_LABEL"
    >
        <field
                name="registration_reference_prefix"
                type="text"
                label="COM_MARATHONMANAGER_CONFIG_REFERENCE_PREFIX_LABEL"
                description="COM_MARATHONMANAGER_CONFIG_REFERENCE_PREFIX_DESC"
                size="40"
                default=""
                hint="COM_MARATHONMANAGER_CONFIG_REFERENCE_PREFIX_HINT"
        />
    </fieldset>
    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >
        <field
                name="rules"
                type="rules"
                component="com_marathonmanager"
                label="JCONFIG_PERMISSIONS_LABEL"
                filter="rules"
                validate="rules"
                section="component"
        />
    </fieldset>
    <fieldset
            name="banking"
            label="COM_MARATHONMANAGER_CONFIG_BANKING_DETAILS_LABEL"
    >
        <field  name="banking_details"
                type="subform"
                formsource="administrator/components/com_marathonmanager/forms/subform_banking_details.xml"
                min="1"
                multiple="false"
                label=""
        />
    </fieldset>
</config>