.control-group,
joomla-field-subform{
    & span.form-control-feedback{
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .switcher label .form-control-feedback {
        display: inline;
    }

    & label.invalid,
    .form-control-danger.invalid {
        color: red;
    }

    & input.invalid,
    & textarea.invalid,
    & select.form-control-danger.invalid,
    .form-control-danger.invalid{
        border: 2px solid red;
    }
}

.invalid-subform-message {
    color: red;
    background: rgba(255, 0, 0, 0.11);
    font-weight: bolder;
    margin-top: 10px;
    display: block;
    text-align: center;
    border: 1px solid rgba(255, 0, 0, 0.42);
    border-radius: 6px;
}

div.subform-repeatable-group[data-base-name="participants"] {

    padding: 20px;
    background: rgba(0,0,0,0.03);
    border-radius: 6px;

    & div.row {
        margin-top: 20px;
    }
}
